@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$mobile: 800px;
$ipad:1025px;
$desktop: 1440px;
//Primairy text variable

$DarkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
//nutruel text varible
$darkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);
//Dividers
$lightGrayishBlue: hsl(240, 5%, 91%);

//Background gradient:

$softViolet: #ae67e9;
$SoftBlue: #6464e6;
// font family

$fontFamily: 'Kumbh Sans', sans-serif;